{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block aboutactive %} active {% endblock aboutactive %}

{% block body %}

<div class="about-section">
    <h1>About Us</h1>
    <p>The day women in India will feel safe to do the most basic things like going to nearby shops without the fear of anything is when we will truly succeed as a country. The moment every citizen understands what consent is and starts respecting the women around them is when we can truly accomplish the dream that our predecessors dreamt of. </p>
    <p>With the help of this website our team aspires to contribute to our society so that we create a beautiful India where every women can feel safe and secured</p>
  </div>
  
  <h2 style="text-align:center">Quartz Programmers</h2>

  <div class="customrow">
    <div class="column">
      <div class="card">
        <img src="static/sathvik.jpg" alt="Sathvik N.G." style="width:100%">
        <div class="container">
          <h2>Sathvik N.G.</h2>
          <p class="title">Computer Science Engineering Student</p>
          <p>A Tech Enthusuiast with good webpage designing skills and having experience with HTML, CSS and Git </p>
          <p></p>
          <a href=""><button class="buttoncontact">Contact</button></a>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="static/kunal.jpg" alt="Kunal Yadav" style="width:100%">
        <div class="container">
          <h2>Kunal Yadav</h2>
          <p class="title">Computer Science Engineering Student</p>
          <p> A Geek who loves coding and skilled in backend web development. My preferred language for backend is Python DJango. Moreover, I can code in HTML, JavaScript and C++</p>
          <br><br>
          <a href=""><button class="buttoncontact">Contact</button></a>
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="static/aizaz.jpeg" alt="Aizaz Ahmed" style="width:100%">
        <div class="container">
          <h2>Aizaz Ahmed</h2>
          <p class="title">Electronics and Communication Engeering Student</p>
          <p>I'm Aizaz Ahmed and my speciality is front end web development and I am tech enthusiast. I like to play cricket and dance apart from learning.<br><br><br></p>
          <p></p>
          <a href=""><button class="buttoncontact">Contact</button></a>
        </div>
      </div>
    </div>
  </div>

  <div class="customrow2">
    <div class="column">
      <div class="card">
        <img src="static/kunal.jpg" alt="Kunal Yadav" style="width:100%">
        <div class="container">
          <h2>Kunal Yadav</h2>
          <p class="title">Computer Science Engineering Student</p>
          <p> A Geek who loves coding and skilled in backend web development. My preferred language for backend is Python DJango. Moreover, I can code in HTML, JavaScript and C++</p>
          <br><br>
          <a href=""><button class="buttoncontact">Contact</button></a>
        </div>
      </div>
    </div>

    
    <div class="column">
      <div class="card">
        <img src="static/sathvik.jpg" alt="Sathvik N.G." style="width:100%">
        <div class="container">
          <h2>Sathvik N.G.</h2>
          <p class="title">Computer Science Engineering Student</p>
          <p>A Tech Enthusuiast with good webpage designing skills and having experience with HTML, CSS and Git </p>
          <p></p>
          <a href=""><button class="buttoncontact">Contact</button></a>
        </div>
      </div>
    </div>
  
    
    <div class="column">
      <div class="card">
        <img src="static/aizaz.jpeg" alt="Aizaz Ahmed" style="width:100%">
        <div class="container">
          <h2>Aizaz Ahmed</h2>
          <p class="title">Electronics and Communication Engeering Student</p>
          <p>I'm Aizaz Ahmed and my speciality is front end web development and I am tech enthusiast. I like to play cricket and dance apart from learning.<br><br></p>
          <p></p>
          <a href=""><button class="buttoncontact">Contact</button></a>
        </div>
      </div>
    </div>
  </div>



{% endblock body %}