{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block homeactive %} active {% endblock homeactive %}


{% block body %}

<div class="container my-4">

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/one.jpg" style="height: 500px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/two.jpg" style="height: 500px" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="static/three.jpeg" style="height: 500px" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">

    <p style="color: white; text-align: center; background-color:black; ">NOTE: Bookmark and use this website without incognito mode. Don't forget to allow your location permission.</p>

</div>

<div class="container">

<div class="main-block">
    <h1 id="savedata">Save Your Data</h1>
    <form action="sendsms" method="post">
      {% csrf_token %}
      
      <label id="icon" for="name"><i class="fas fa-user"></i></label>
      <input type="text" name="name" id="name" placeholder="Your Name" required/>
      <label id="icon" for="location"><i class="fas fa-map-pin"></i></label>
      <input type="text" name="location" id="location" placeholder="Your Current Location" style="background-color: #d8d8d8" readonly/>
       <hr>
      <textarea name="numbers" id="numbers" placeholder="Emergency Numbers (Each In Seperate Line)" required></textarea>
      <hr>
      <div class="btn-block">
        
        <button type="button" class="submit-button" onclick="save()">SAVE</button>
      </div>
      <div class="btn-block">
        
        <input type="submit" class="button" value="I'M NOT SAFE!!"></input>
      </div>
    </form>

  </div>

</div>

<div class="container my-5">
<div class="bg-dark text-white p-5 rounded-3">
  <h1 class="display-4">How It Works?</h1>
  <p class="lead">This is a simple service for women safety. To use it, make sure you have allowed location permission and you are not using incognito mode. All you need to do is fill the above given form with your name and your closed-ones numbers for emergency and click on save button.</p>
  <p class="lead">We recommend to bookmark this page. Whenever you feel unsafe at any place, just open this page in your browser and the form will automatically load your given data. You need to click on button "Im not safe" and the SMS will be sent to all mentioned mobile numbers. The SMS will contain your current location latitude and longitude.
  <hr class="my-4">
  <p>We also post blogs related to women safety guidance. You can check out blogs page by clicking on button below.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="blog" role="button">View Blog</a>
  </p>
</div>
</div>

<script>
  var storedItem = localStorage.getItem("storedItem");
  var storedItem2 = localStorage.getItem("storedItem2");

  function save(){
    var Item = document.getElementById("name").value;
    var Item2 = document.getElementById("numbers").value;
    localStorage.setItem("storedItem", Item);
    localStorage.setItem("storedItem2", Item2);
    document.getElementById("savedata").innerHTML = "Data Saved!!";

  }
  function get(){
    localStorage.getItem("storedItem");
    localStorage.getItem("storedItem2");
    document.getElementById("name").value = storedItem;
    document.getElementById("numbers").value = storedItem2;
  }
  get();

  
  navigator.geolocation.getCurrentPosition(async (position) => {
    var content =
      position.coords.latitude + " " +
      position.coords.longitude;
      document.getElementById("location").value = content;
  });

    setInterval(() => {
    navigator.geolocation.getCurrentPosition(async (position) => {
      var content =
      position.coords.latitude + " " +
      position.coords.longitude;
          document.getElementById("location").value = content;
      });
    }, 5000);
</script>

{% endblock body %}